.Volume {
  position: relative;
}

.Volume__slider {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  width: 80px;
} 

.Volume__slider_active {
  display: block;
}
