.Selector {
  font-size: .8rem;
  position: relative;
}

.Selector__list {
  background: #393939;
  border-radius: 3px;
  bottom: 100%;
  display: none;
  left: 0;
  padding: 5px;
  position: absolute;
  text-align: left;
  top: auto;
}

.Selector__list_active {
  display: block;
}

.Selector__list-title {
  cursor: default;
  font-size: .85em;
  font-weight: bold;
  text-transform: uppercase;
}

.Selector__list-item {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1em;
  justify-content: flex-start;
  margin-left: 12px;
}

.Selector__list-item:hover {
  text-decoration: underline;
}

.Selector__list-item_selected {
  margin-left: 0;
}
