.Selector {
  position: relative;
}

.Selector__list {
  background: #000000cc;
  position: absolute;
  left: 0;
}

.Selector__list-item {
  color: white;
}

.Selector__list-item_selected {
  background: #000000;
}
