.Selector {
  position: relative;
}

.Selector__list {
  background: #000000cc;
  bottom: 100%;
  display: none;
  left: 0;
  position: absolute;
  top: auto;
}

.Selector__list_active {
  display: block;
}

.Selector__list-item {
  color: white;
}

.Selector__list-item_selected {
  background: #000000;
}
